* {
    font-family: "Noto Sans", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px
}

window#waybar {
    background: transparent
}

#workspaces, #window {
    margin: 0 8px
}

#workspaces button {
    border: none;
    border-radius: 0;
    box-shadow: inset 0 -3px transparent;
    color: #888;	
    padding: 0 8px
}

#workspaces button:hover, #workspaces button.focused, #workspaces button.active {
    background: inherit;
    box-shadow: inset 0 -3px #CCC;
    color: #CCC
}

#window {
    color: #AAA
}

#clock, #temperature, #backlight, #battery, #pulseaudio, #network {
    box-shadow: inset 0 -5px transparent;
    color: #CCC;
    padding: 0 8px
}

#clock:hover, #backlight:hover, #battery:hover, #pulseaudio:hover, #network:hover {
    color: #CC8
}

#clock {
    border-left: 8px solid #888;
    border-radius: 16px;
    border-right: 8px solid #888
}

#clock:hover {
    border-left: 8px solid #288;
    border-radius: 32px;
    border-right: 8px solid #288
}

#temperature {
    box-shadow: inset 0 -3px #8CC;
    color: #8CC
}

#temperature.warning {
    box-shadow: inset 0 -3px #CC8;
    color: #CC8
}

#temperature.critical {
    box-shadow: inset 0 -3px #C88;
    color: #C88
}

#backlight.bright {
    box-shadow: inset 0 -5px #EEE
}

#backlight.lights {
    box-shadow: inset 0 -4px #CCC
}

#backlight.normal {
    box-shadow: inset 0 -3px #AAA
}

#backlight.darker {
    box-shadow: inset 0 -2px #888
}

#backlight.voided {
    box-shadow: inset 0 -1px #444
}

#battery.full {
    box-shadow: inset 0 -5px #2C1
}

#battery.good {
    box-shadow: inset 0 -4px #4A1
}

#battery.norm {
    box-shadow: inset 0 -3px #8A1
}

#battery.warn {
    box-shadow: inset 0 -2px #CA1
}

#battery.crit {
    box-shadow: inset 0 -1px #C21
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}

#pulseaudio-slider slider {
    background-image: none;
    border: none;
    box-shadow: none;
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
}

#pulseaudio-slider trough {
    background: #111;
    min-height: 8px;
    min-width: 64px
}

#pulseaudio-slider highlight {
    background: #448;
    min-width: 8px
}
